body{
    margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease, color 0.3s ease;

      /* Используем Telegram-переменные */
      color: var(--tg-theme-text-color);
      background-color: var(--tg-theme-bg-color);
}
header{
    width: 100%;
    height: 55px;
    background-color: none;
    position: relative; /* Контейнер для позиционирования */
}
.container{
    position: absolute; /* Абсолютное позиционирование */
    width: 90%;
    height: 55px;
    
    left: 5%; /* Отступ слева */
    margin: 0; /* Убираем стандартные отступы */
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Центровка по вертикали */
    justify-content: start; /* Элемент остаётся слева */
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.basket{
    position: absolute; /* Абсолютное позиционирование */
   font-size: 23px;
    right: 2%; /* Отступ слева */
    background-color:#ffffff00;
    border: none;
}
hr{
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Прижимаем к низу */
    left: 5%; /* Отступ слева */
    width: 90%;
    border: 2px solid var(--tg-theme-text-color); /* Граница для линии */
    border-radius: 10px;
    margin: 0; /* Убираем стандартные отступы */
}